<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChiasmaDeposit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ChiasmaDeposit.Properties.Settings>
            <setting name="DatabaseCommandTimeout" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>GTDB2_practice</value>
            </setting>
            <setting name="DataServerAddress" serializeAs="String">
                <value>130.238.178.226</value>
            </setting>
            <setting name="BarCodeLengthInternal" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BarCodeMaxTimeToRead" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ApplicationMode" serializeAs="String">
                <value>OFFICE</value>
            </setting>
            <setting name="AutomaticLogoutTimeLimit" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="DialogTitleStandard" serializeAs="String">
                <value>ChiasmaDeposit</value>
            </setting>
            <setting name="LabelPrintServer" serializeAs="String">
                <value>ZBR2205630</value>
            </setting>
            <setting name="PlateLabelFontName" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="PlateLabelTextBlockWidthPoints" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="PlateLabelTextCharsPerLine" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="PlateLabelTextLineSpacePoints" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PlateLabelTextMaxLines" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PlateLabelFontMagnFactor" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PlateLabelBarCodeYSpacingPoints" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="EnforceAppVersion" serializeAs="String">
                <value>False</value>
            </setting>
        </ChiasmaDeposit.Properties.Settings>
    </applicationSettings>
</configuration>